@model CarSellingPlatform.Web.ViewModels.Chat.ChatViewModel
@{
ViewData["Title"] = "Chat Room";
}

<h1>Chat</h1>

<!-- Main container for the chat interface -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Chat history will be displayed here -->
            <div id="chat-window" class="border rounded p-3 mb-3" style="height: 400px; overflow-y: scroll;">
                <ul id="chatHistory" class="list-unstyled">
                    <!-- Messages will be dynamically added here -->
                </ul>
            </div>

            <!-- Message input form -->
            <div class="row g-2">
                <div class="col">
                    <input type="text" class="form-control" id="message" placeholder="Type your message..." autocomplete="off">
                </div>
                <div class="col-auto">
                    <button id="sendButton" class="btn btn-primary" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
    const currentChatId = "@Model.ChatId";
    </script>
    <script src="~/js/chat.js"></script>
}
